# macOS
.DS_Store
*.swp
*~

# Xcode
xcuserdata/
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# Signing & provisioning
*.mobileprovision
*.provisionprofile

# Dependencies
Pods/
Package.resolved

# Large media
*.mov
*.mp4

# Debug
debug.log

# Environment / secrets
.env
.env.*
credentials.*
